table.center{
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
text-align: center;
}

table{

width: 100%;
}
hr.solid {
border-top: 3px solid #bbb;
}
.logoutbtn{
  background-color: rgb(255, 41, 41);
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 1rem;
  margin-inline-start: 90rem;
  border-radius: 0.2rem;
}



.topic{
  font-size: 1.5rem;
  margin-inline-start: 40rem;
  color: rgb(39, 4, 68);
  font-weight: bold;
}