<body>
    <app-navbar></app-navbar>
<br>
<label class="topic">Welcome to Admin view...!</label>
<br>


 <br><br>

<br>

<hr class="solid">

<table >
    <tr>
        <th>
            
            <nav class="navbar navbar-expand-sm bg light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="/newseller"
                class="btn btn-info"Button>New Seller Requests</button>
            </li>
        </ul>
    </nav>
        </th>
        <th>
            
            <nav class="navbar navbar-expand-sm bg light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="/newuser"
                class="btn btn-info"Button>New Buyer Requests</button>
            </li>
        </ul>
    </nav>
        </th>
        <th>

    <nav class="navbar navbar-expand-sm bg light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="/fixed"
                class="btn btn-info">New Fixed Gem Requests</button>
            </li>
        </ul>
    </nav>
    </th>

    <th>

        <nav class="navbar navbar-expand-sm bg light navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button routerLink="/auction"
                    class="btn btn-info">New Auction Gem Requests</button>
                </li>
            </ul>
        </nav>
        </th>

    <th>

    <nav class="navbar navbar-expand-sm bg light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="/expiredgem"
                class="btn btn-info"Button>Expired Gems</button>
            </li>
        </ul>
    </nav>
    </th>
    <th>

    <nav class="navbar navbar-expand-sm bg light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="/lowrateuser"
                class="btn btn-info"Button>Low Rate Users</button>
            </li>
        </ul>
    </nav>
    </th>
    <th>
    <nav class="navbar navbar-expand-sm bg light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="/meeting"
                class="btn btn-info"Button>New Meeting Requests</button>
            </li>
        </ul>
    </nav>
        </th>
        
    </tr>
    </table>

    <mat-card class="border border-danger">
        <mat-card-title>Fixed gems</mat-card-title>
        <mat-card-content>
            <div class="card-columns">
                <div *ngFor="let dataItem of fixedGems" class="card" >
                    <div class="row">
                        <div class="col-md-4">
                            <img class="card-img-top" src="{{dataItem.Images1}}"
                                alt="Card image"  >
                        </div>
                        <div class="col-md-4">
                            <img class="card-img-top" src="{{dataItem.Images2}}"
                                alt="Card image"  >
                        </div>
                        <div class="col-md-4">
                            <img class="card-img-top" src="{{dataItem.Images3}}"
                                alt="Card image"  >
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container justify-content-center">
                            <h4 class="card-title text-danger">{{dataItem.GemType}}</h4>
                            <p>Color: {{dataItem.Color}}</p>
                            <p>Weight: {{dataItem.Weight}}</p>
                            <h5 class="text-danger">{{dataItem.BaseValue}} LKR</h5>
                            <img class="card-img-top" src="{{dataItem.GemCertificate}}"
                                alt="Card image"  >
                            <br/><br/>
                            <button class="btn btn-info" type="button" (click)="acceptGem(dataItem)" style="margin-right: 25px;">Add</button>
                            <button class="btn btn-danger" type="button" (click)="rejectGem(dataItem)" style="margin-right: 25px;">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <router-outlet></router-outlet>
    </body>
