

mat-form-field{
    width:100%;
}
.imge{
    width:10rem;
    height:10rem;
    margin-inline-start: 6rem;
    margin-block-start:1rem ;
}
.topic{
    font-size: 1.5rem;
    margin-inline-start: 8rem;
    color: rgb(39, 4, 68);
    font-weight: bold;
}
.btn{
    background-color: rgb(39, 4, 68);
    color:#fff;
    border-radius: 0.2rem;
}
