
<html>
    <head>
    <style>
    h2 {
      text-align: center;
    }
    
    table{
        
        width: 100%;
    }
    hr.solid {
      border-top: 3px solid #bbb;
    }
    
    </style>
    </head>
    <body>
        <app-navbar></app-navbar>

    <br>
    <label class="topic">Welcome to Seller View...!</label> 

    <br>
    <hr class="solid">
    
    <table >
        <tr>
            <th>
                
                <nav class="navbar navbar-expand-sm bg light navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button routerLink="/addgem"
                    class="btn btn-info"Button>New Gem Request</button>
                </li>
            </ul>
        </nav>
            </th>
        <th>
    
        </th>

        </tr>
        </table>
        </body>
        </html>
